# Build and Release Folders
#bin-debug/
#bin-release/
#[Oo]bj/
#[Bb]in/
# Other files and folders
#.settings/

mcu/MDK-ARM/DebugConfig/
mcu/MDK-ARM/boat2021/
mcu/MDK-ARM/RTE/
mcu/MDK-ARM/startup_stm32f405xx.lst
mcu/MDK-ARM/JLinkLog.txt
mcu/MDK-ARM/*.uvguix.*
*.o




# Executables



